
.planosCadastrados{
    align-items: center;
    display:table;
    text-align:left;
    width: 200px;
    border: 1px solid;
    border-color: forestgreen;
}

.vizualizar-plano{
    margin: 4px;
    margin-left: 10px;
    background-color: green;
    border-radius: 10px;
}

.vizualizar-plano:hover{
    background-color: chartreuse;
}
.id-planos,.descricao-planos{
    text-align: center;
}